.table-container {
    margin-top: 15px;
    overflow-x: auto;
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    background-color: white;
  }
  
  .styled-table thead {
    background-color: #f0f0f0;
  }
  
  .styled-table th, .styled-table td {
    text-align: center;
    padding: 8px 12px;
    border: 1px solid #ddd;
  }
  
  .styled-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .styled-table tr:hover {
    background-color: #f1f1f1;
  }
  